<%- contentFor('css') %>

  <title><%= game.white %> vs <%= game.black %>, <%= game.event %> </title>
  <link rel="stylesheet" href="/css/chessboard.css" />
  <style type="text/css">
    
    #board {
      width: 50%; 
      margin: 0 auto;
    }
    .highlight-white {
      -webkit-box-shadow: inset 0 0 5px 5px yellow;
      -moz-box-shadow: inset 0 0 5px 5px yellow;
      box-shadow: inset 0 0 5px 5px yellow;  
    }
    .highlight-black {
      -webkit-box-shadow: inset 0 0 5px 5px blue;
      -moz-box-shadow: inset 0 0 5px 5px blue;
      box-shadow: inset 0 0 5px 5px blue;  
    }
    .status {
      display: inline-block;
      width: 100%;
      position: fixed;  
      bottom: 0;
    }
    .bar {
      background-color: rgba(0,0,0,0.1);
      cursor: pointer;
    }
    .bar-progress {
      height: 1.5rem;
      background-color: red;
      width: 0;
    }
    .nightmode .bar-progress {
      background-color: orange; 
    }
    .bar-progress.paused {
      background-color: grey;
    }
    .boardhead {
      padding-left: 25%;
      margin-bottom: 0!important;
    }
    .boardfoot {
      padding-right: 25%;
      margin-top: 0.15rem!important;
    }
    .moreinfo {
      display: none;
    }
    .showmore {
      position: absolute;
      top: -1.5rem;
    }

    @media screen and (max-width: 480px), print {
      #board {
        width: 90%!important;
      }
      .boardhead {
        padding-left: 5%!important;
      }
      .boardfoot {
        padding-right: 5%!important;
      }
    }

  </style>

<%- contentFor('js') %>

  <script src="/js/libs/chess.js"></script>
  <script src="/js/libs/chessboard.js"></script>
  <script src="/js/game.js"></script>
 
<%- contentFor('content') %>

  <svg class="spinner-container" viewBox="0 0 44 44">
      <circle class="path" cx="22" cy="22" r="20" fill="none" stroke-width="4"></circle>
  </svg>
  
  <div class="spinner-content container">
    <div class="game-container content"></div>
  </div>
  
  <div class="status">
    <span class="has-text-weight-semibold">
    <!-- &nbsp;🕗 <a href="#" id="quickview"> <input type="checkbox" /> Mas info</a-->
    &nbsp;🕗 <span id="speed"></span>
    <!-- &nbsp;🕗 <span class="quick" content="Usa las flechas + f,n,[espacio] del teclado.">Atajos de teclado</span-->
    </span>
    
    <div class="bar">
      <div class="bar-progress"></div>
    </div>
  </div>

  <script id="game" type="text/x-jsrender">
    <div>
      <div class="">
        <a href="#" class="showmore is-size-3">
          <span>♛</span>
        </a>
        <div class="moreinfo">
          <table class="table is-striped">
            <tr>
              <td>Evento</td>
              <td>[[:event]]</td>
            </tr>
            <tr>
              <td>Ronda</td>
              <td>[[:round]]</td>
            </tr>
            <tr>
              <td>Blancas</td>
              <td>[[:white]][[if whiteelo && whiteelo.length]] ([[:whiteelo]])[[/if]]</td>
            </tr>
            <tr>
              <td>Negras</td>
              <td>[[:black]][[if blackelo && blackelo.length]] ([[:blackelo]])[[/if]]</td>
            </tr>
            <tr>
              <td>Fecha</td>
              <td>[[:date]]</td>
            </tr>
            <tr>
              <td>Lugar</td>
              <td>[[:site]]</td>
            </tr>
            <tr>
              <td>Resultado</td>
              <td>[[:result]]</td>
            </tr>
            <tr>
              <td>PGN</td>
              <td>[[:pgn]]</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <h5 class="has-text-left boardhead">
          [[if black && black.length]]
            <span id="black">[[if result && result.length]]([[:~parseResult(result,'w')]]) [[/if]][[:black]] [[:blackelo]]</span>
          [[else]]
            <span>[[:event]]</span>
          [[/if]]
          </h5>
          <div id="board"></div>
          <h5 class="has-text-right boardfoot">
          [[if white && white.length]]
            <span id="white">[[if result && result.length]]([[:~parseResult(result,'b')]]) [[/if]][[:white]] [[:whiteelo]]</span>
          [[else]]
            <span>[[:date]] [[:site]]</span>
          [[/if]]
          </h5>
        </div>
      </div>
    </div>
  </script>  