<%- contentFor('css') %>

  <title><%= game.white %> vs <%= game.black %>, <%= game.event %> </title>
  <link rel="stylesheet" href="/css/chessboard.css" />
  <style type="text/css">
 
    #board {
      width: 50%; 
    }
    .highlight-white {
      -webkit-box-shadow: inset 0 0 5px 5px yellow;
      -moz-box-shadow: inset 0 0 5px 5px yellow;
      box-shadow: inset 0 0 5px 5px yellow;  
    }
    .highlight-black {
      -webkit-box-shadow: inset 0 0 5px 5px blue;
      -moz-box-shadow: inset 0 0 5px 5px blue;
      box-shadow: inset 0 0 5px 5px blue;  
    }
    .status {
      display: inline-block;
      width: 100%;
      position: fixed;  
      bottom: 0;
    }
    .bar {
      background-color: rgba(0,0,0,0.1);
      cursor: pointer;
    }
    .bar-progress {
      height: 0.25rem;
      background-color: red;
      width: 0;
    }
    .nightmode .bar-progress {
      background-color: orange; 
    }
    .bar-progress.paused {
      background-color: grey;
    }
    .boardhead {
      display: none;
      margin-bottom: 0!important;
      padding-left: 0.25rem;
    }
    .boardfoot {
      opacity: 0;
      margin-top: 0.15rem!important;
      padding-right: 0.25rem;
    }
    .moreinfo,.keyboard-tips {
      display: none;
      margin-bottom: 3.5rem;
    }
    .keyboard-tips {
      margin-left: 1em;
      margin-bottom: 0;
    }
    .notification {
      padding: 1rem;
    }
    .notification h5 {
      margin: 0;
    }
    .game-container {
      padding-top: 0;
    }
    .moveindex {
      background-color: whitesmoke;
      padding: 0 .25rem;
      line-height: 0.5rem;
      border-radius: 3px;
    }
    .active {
      background-color: red;
      color: white;
    }
    @media screen and (max-width: 480px), print {
      #board {
        width: 100%!important;
        margin: 0 auto;
      }
      .notification {
        margin: 0 1rem;
      }
    }
  </style>

<%- contentFor('js') %>

  <script src="/js/libs/chess.js"></script>
  <script src="/js/libs/chessboard.js"></script>
  <script src="/js/game.js"></script>
 
<%- contentFor('content') %>

  <svg class="spinner-container" viewBox="0 0 44 44">
    <circle class="path" cx="22" cy="22" r="20" fill="none" stroke-width="4"></circle>
  </svg>
  
  <div class="spinner-content container">
    <div class="game-container"></div>
  </div>
  
  <div class="status">
    <span class="has-text-weight-semibold">
      <span>&nbsp;🕗 <span id="speed"></span></span>
    </span>
    <div class="bar">
      <div class="bar-progress"></div>
    </div>
  </div>

  <script id="game" type="text/x-jsrender">
    <div class="content padless">
      <div class="columns">
        <div class="column">
          <h5 class="has-text-left boardhead">
          [[if black && black.length]]
            <span id="black">[[:black]][[if result && result.length]] ([[:~parseResult(result,'w')]])[[/if]]</span>
          [[else]]
            <span>[[:event]]</span>
          [[/if]]
          </h5>
          <div id="board"></div>
          <h5 class="has-text-right boardfoot">
          [[if white && white.length]]
            <span id="white">[[:white]][[if result && result.length]] ([[:~parseResult(result,'b')]])[[/if]]</span>
          [[else]]
            <span>[[:date]] [[:site]]</span>
          [[/if]]
          </h5>
        </div>
        <div class="column moreinfo">
          <div class="notification is-primary">
            <h5><span>♛</span> Datos de la partida</h5>
          </div>
          <table class="table is-striped">
            <tr>
              <td colspan=2>[[:~pgnIndex(pgn)]]</td>
            </tr>          
            <tr>
              <td class="has-text-weight-bold">Evento</td>
              <td>[[:event]]</td>
            </tr>
            <tr>
              <td class="has-text-weight-bold">Ronda</td>
              <td>[[:round]]</td>
            </tr>
            <tr>
              <td class="has-text-weight-bold">Blancas</td>
              <td>[[:white]][[if whiteelo && whiteelo.length]] ([[:whiteelo]])[[/if]]</td>
            </tr>
            <tr>
              <td class="has-text-weight-bold">Negras</td>
              <td>[[:black]][[if blackelo && blackelo.length]] ([[:blackelo]])[[/if]]</td>
            </tr>
            <tr>
              <td class="has-text-weight-bold">Fecha</td>
              <td>[[:date]]</td>
            </tr>
            <tr>
              <td class="has-text-weight-bold">Lugar</td>
              <td>[[:site]]</td>
            </tr>
            <tr>
              <td class="has-text-weight-bold">Resultado</td>
              <td>[[:result]]</td>
            </tr>
          </table>
          <div class="notification is-info">
            <ul class="keyboard-tips">
              <li>[⬌] Navega movimientos de la partida con las flechas horizontales</li>
              <li>[⬍] Establece velocidad de los movimientos con flechas verticales</li>
              <li>[espacio] Pausa/Reanuda la partida</li>
              <li>[F] Invierte el tablero</li>
              <li>[N] Visión nocturna</li>
            </ul>
            <a href="#" class="showmore">
              <h5 class="has-text-white" toggle=".keyboard-tips">⌨ Atajos de teclado</h5>
            </a>
          </div>
        </div>
      </div>
    </div>
  </script>  