<%- contentFor('css') %>
	
	<title>Resultados</title>

<%- contentFor('js') %>

	<script type="text/javascript">

	$(document).ready(function(){
		var query = '<%= query.q %>'
	    , limit = parseInt('<%= query.limit %>')||10
	    , offset = parseInt('<%= query.offset %>')||0		
	    , pages = {}
		$('input[name=query]').val(query)
	    $.ajax({
	      url:'/search',
	      method:'POST',
	      data: {query:query,offset:offset},
	      success:function(res){
		    var numPages = Math.ceil(res.count/limit)
		    for(var i=1;i< numPages+1;i++){
		    	pages[i] = (i-1)*limit
		    }
	        $('#results').html($.templates(res.count?"#games":"#empty").render({games:res.games,count:res.count,query:query,offset:offset,pages:pages},parseHelpers)).promise().done(function (){
	          $('.spinner-container').fadeOut('fast', function(){
	            $('.spinner-content').fadeTo('fast',1)
	          })
	        })
	      }
	    })  
	})

	</script>

<%- contentFor('content') %>

	<svg class="spinner-container" viewBox="0 0 44 44">
	    <circle class="path" cx="22" cy="22" r="20" fill="none" stroke-width="4"></circle>
	</svg>
	
	<div class="container">
		<div class="content">
	        <form id="search">
	            <div class="field has-addons">
	              <div class="control">
	                <input class="input is-large is-rounded" name="query" type="text" placeholder="Ingresa evento, lugar o jugador" autofocus="">
	              </div>
	              <div class="control">
	                <button type="submit" id="searchbtn" class="button is-large is-rounded is-success">
	                  <span>🔎</span>
	                </button>
	              </div>
	            </div>
	        </form>   		
	        <div class="" id="results">
	        </div>
		</div>
	</div>

	<script id="empty" type="text/x-jsrender">
	[[if query.length]]
		<p class="is-notification has-text-danger">No hay partidas que coincidan con tu palabra clave.</p>
	[[else]]
		<p class="is-notification has-text-success">Busca por jugador, evento, fecha y/o lugar.</p>
	[[/if]]
	</script>

	<script id="games" type="text/x-jsrender">
	    <p class="is-notification has-text-success">[[:offset+1]] - [[if count < offset+10]][[:count]][[else]][[:offset+10]][[/if]] ([[:count]] partida[[if count > 1]]s[[/if]])</p>
	    <table class="table is-striped">
	    	<thead>
	    		<th>Mesa</th>
	    		<th>Evento</th>
	    		<th>Lugar</th>
	    		<th>Blancas</th>
	    		<th>Negras</th>
	    		<th>Resultado</th>
	    		<th>Fecha</th>
	    		<th>Vistas</th>
	    	</thead>
	    	<tbody>
	    	[[for games]]
				<tr>
					<td><a class="" id="[[:room]]" href="/[[:room]]">[[:~abbrRoom(room)]]</a></td>
					<td><span class="">[[:event]]</span></td>
					<td><span class="">[[:site]]</span></td>
					<td><span class="">[[:white]]</span></td>
					<td><span class="">[[:black]]</span></td>
					<td><span class="">[[:result]]</span></td>
					<td><span class="">[[:date]]</span></td>
					<td><span class="">[[:views]]</span></td>
				</tr>
			[[/for]]
	    	</tbody>
	    </table>
		<nav class="pagination is-rounded" role="navigation" aria-label="pagination">
		  <!--a class="pagination-previous">Previous</a>
		  <a class="pagination-next">Next page</a-->
		  <ul class="pagination-list">
			[[props pages]]
		    <li><a href="?q=[[:~root.query]]&offset=[[>prop]]" class="pagination-link[[if ~root.offset === prop]] is-current[[/if]]" aria-label="Ir a página [[:#index]]">[[>key]]</a></li>
		    [[/props]]
		  </ul>
		</nav>
	</script>